<h1>(自分の題名)</h1>
<h3>新規投稿ページ</h3>
<%= form_for @tweet do |f| %>

# データ型がstringで自由記述の入力フォーム
  <div class="field">
    <%= f.label :本文 %>
    <%= f.text_field :body, :size => 30 %>
  </div>

  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", tweets_path %>